# {{ ansible_managed }}

user {{ nginx_user }};
pid {{ nginx_pid }};
worker_processes {{ nginx_worker_processes }};

{% if ansible_distribution_version is version('17.04', '>=') %}
include /etc/nginx/modules-enabled/*.conf;
{% endif %}

events {
{% for k,v in nginx_events.items() | list %}
  {{ k }} {{ v }};
{% endfor %}
}

http {
  include {{ nginx_config_mime_types_file }};
  default_type {{ nginx_default_type }};

  access_log {{ nginx_access_log }};
  error_log {{ nginx_error_log }};

{% for k,v in nginx_http_options.items() | list %}
  {{ k }} {{ v }};
{% endfor %}

  include {{ nginx_config_include_path }}/*.conf;
  include {{ nginx_sites_enabled_path }}/*;
}
