# {{ ansible_managed }}

{% for key,value in passenger_main_variables.items() | list %}
{{key}} {{value}};
{% endfor %}

{% if passenger_cloak_headers %}
more_clear_headers 'X-Powered-By';
more_clear_headers 'X-Request-Id';
more_clear_headers 'X-Runtime';
more_set_headers 'Server: nginx';
{% endif %}
