---
- name: Define release ID
  set_fact:
    RAILS_APP_RELEASE_ID: "{{ rails_release_id }}"
  tags:
  - facts

- name: Define release path
  set_fact:
    RAILS_APP_RELEASE_PATH: "{{ RAILS_APP_RELEASES_PATH }}/{{ RAILS_APP_RELEASE_ID }}"
  tags:
  - facts
