# {{ ansible_managed }}

RailsBaseURI {{ site_url_path }}
{% if passenger_ruby %}
PassengerRuby {{ passenger_ruby }}
{% endif %}
PassengerMinInstances {{ passenger_min_instances }}
{% for option, value in apache_site_options.items() | list %}
{{ option }} {{ value }}
{% endfor %}
{% for key, value in apache_set_env.items() | list %}
SetEnv {{ key }} {{ value }}
{% endfor %}

<Directory {{ site_path }}>
  Options FollowSymLinks
  AllowOverride None
  Require all granted
</Directory>

{% if passenger_start_url %}
PassengerPreStart {{ passenger_start_url }}
{% endif %}
