[Unit]
Description=Puma Application Server

[Service]
User={{ puma_user }}
WorkingDirectory={{ puma_directory }}
ExecStart=/bin/sh -lc '{{ puma_ruby_prefix }} bundle exec puma -C {{ puma_config_file }}'

[Install]
WantedBy=default.target
