# {{ ansible_managed }}

description "Puma Application Server"

start on user-jobs
stop on runlevel [06]

respawn
respawn limit 3 30

instance {{ puma_path | default(app_path, true) }}

script
exec /bin/bash <<'EOT'
  # set HOME to the setuid user's home, there doesn't seem to be a better, portable way
  export HOME="$(eval echo ~$(id -un))"
  source $HOME/.profile

  if [ -d "$HOME/.rbenv/bin" ]; then
    export PATH="$HOME/.rbenv/bin:$HOME/.rbenv/shims:$PATH"
  elif [ -f  /etc/profile.d/rvm.sh ]; then
    source /etc/profile.d/rvm.sh
  elif [ -f /usr/local/rvm/scripts/rvm ]; then
    source /usr/local/rvm/scripts/rvm
  elif [ -f "$HOME/.rvm/scripts/rvm" ]; then
    source "$HOME/.rvm/scripts/rvm"
  elif [ -f /usr/local/share/chruby/chruby.sh ]; then
    source /usr/local/share/chruby/chruby.sh
    if [ -f /usr/local/share/chruby/auto.sh ]; then
      source /usr/local/share/chruby/auto.sh
    fi
    # if you aren't using auto, set your version here
    # chruby 2.0.0
  fi

  cd {% if puma_bundle_path -%}
  {{ puma_bundle_path }}
     {%- else -%}
  {{ puma_path | default(app_path, true) }}/current
     {%- endif %}

  logger -t puma "Starting server: $PWD"

  exec {{ ruby_bin }} bundle exec puma -C {{
    lookup('template', 'roles/puma/upstart/templates/puma_config_path.j2' ) | trim }}
EOT
end script
